<div class="container">
    <div class="card">
        <div class="card-body">
            <img src="../../assets/beach-gf8f85fb25_1280.jpg" alt="Image Description" class="card-img-top"
                height="300px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 offset-3">
            <div class="card tripCard">
                <div class="card-body">
                    <p class="fs-2 fw-bold"> Trip to Goa </p>
                    <br>
                    <div class="">
                        <i class="fa-solid fa-calendar-days"></i>
                        16/3 - 12/4
                    </div>
                    <i class="fa-solid fa-user-plus user"></i>
                </div>

            </div>

        </div>
    </div>
    <br>

    <div class="row content">
        <div class="col-md-9">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseOne">
                            Places to Visit
                            <span class="hospitalIcon"><i class="fa-solid fa-location-dot"></i>
                            </span> </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <h2 class=""> Recommended based on your Past Trips:</h2>
                            <div class="card-group">
                                <div class="card">
                                    <img src="../../assets/baga.jpg" class="card-img-top" alt="..." height="150px">
                                    <div class="card-body">
                                        <h3 class="card-title fw-bold">Baga Beach <span class="mapIcon"><i
                                                    class="fa-solid fa-map-location-dot fa-lg"></i></span></h3>

                                        <p class="card-text"><small class="text-muted">Most Preferred</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="../../assets/candolim.jpg" class="card-img-top" alt="..." height="150px">
                                    <div class="card-body">
                                        <h3 class="card-title fw-bold">Candolim Beach <span class="mapIcon"><i
                                                    class="fa-solid fa-map-location-dot fa-lg"></i></span></h3>
                                        <p class="card-text"><small class="text-muted">Most Preferred</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="../../assets/calangute.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h3 class="card-title fw-bold">Calangute Beach <span class="mapIcon"><i
                                                    class="fa-solid fa-map-location-dot fa-lg"></i></span></h3>
                                        <p class="card-text"></p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button  fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseTwo">
                            Nearby EV Charging Stations
                            <span class="chargeIcon"> <i class="fa-solid fa-charging-station fa-lg"></i>
                            </span>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title fw-bold">Tata Charging Station</h3>

                                        <p class="card-text"><small class="text-muted">Taleigao, Goa</small>
                                            <span class="mapIcon"><i
                                                    class="fa-solid fa-map-location-dot fa-lg"></i></span>
                                        <p class="card-text"><small class="text-muted">Open 24 hours</small>

                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title fw-bold">EV Charging Station</h3>
                                        <p class="card-text"><small class="text-muted">Panaji, Goa</small>
                                            <span class="mapIcon"><i
                                                    class="fa-solid fa-map-location-dot fa-lg"></i></span>
                                        <p class="card-text"><small class="text-muted"> Open 24 hours</small>
                                            <i class="fa-solid fa-timer"></i>
                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title fw-bold">EV Charging Station</h3>
                                        <p class="card-text"></p>
                                        <p class="card-text"><small class="text-muted">Calangute, Goa</small>
                                            <span class="mapIcon"><i
                                                    class="fa-solid fa-map-location-dot fa-lg"></i></span>
                                        <p class="card-text"><small class="text-muted">Open 24 hours</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseThree">
                            Nearby Medical Centers
                            <span class="hospitalIcon"><i class="fa-solid fa-notes-medical"></i>
                            </span>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            <div class="card-group">

                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title fw-bold">Manipal Hospital</h3>

                                        <p class="card-text"><small class="text-muted">Donapaula, Goa</small>
                                            <span class="mapIcon"><i
                                                    class="fa-solid fa-map-location-dot fa-lg"></i></span>
                                        </p>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title fw-bold">Redkar Hospital</h3>

                                        <p class="card-text"><small class="text-muted">Mumbai Goa Highway</small>
                                            <span class="mapIcon"><i
                                                    class="fa-solid fa-map-location-dot fa-lg"></i></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title fw-bold">Chintamani Hospital</h3>

                                        <p class="card-text"><small class="text-muted">Mangaon, Goa</small>
                                            <span class="mapIcon"><i
                                                    class="fa-solid fa-map-location-dot fa-lg"></i></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseThree">
                            Car Subscription Models </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            <div class="card-group">

                                <div class="card">
                                    <img src="../../assets/spring.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h3 class="card-title fw-bold">Spring Break</h3>
                                        <p class="card-text"></p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="../../assets/business_travel.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h3 class="card-title fw-bold">Business Travel</h3>
                                        <p class="card-text"></p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="../../assets/trekking_travel.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h3 class="card-title fw-bold">Trekking</h3>
                                        <p class="card-text"></p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="../../assets/off_road.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h3 class="card-title fw-bold">Off-road Travels</h3>
                                        <p class="card-text"></p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">

            <div class="reward">
                <img class="reward" src="../../assets/reward.png" alt="" height="380px" width="330px">
            </div>

        </div>
    </div>
</div>