.fa-youtube {
  color: red;
}
.call {
  text-decoration: none;
  color: white;
}
.bg-footer {
  background-color: #3f51b5;
  color: white;
}
.fa-facebook {
  color: white;
}
.fa-linkedin {
  color: white;
}
