<div class="bg-light py-4">

    <div class="container ">
        <footer>
            <div class="row">
                <div class="col-md-2 col-2">
                    Contact:
                </div>
                <div class="col-md-1 col-1">
                    <a class="fb" href="" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
                <div class="col-md-1 col-1">
                    <a class="youtube" href="" target="_blank">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
                <div class="col-md-1 col-1">
                    <a class="linkedin" href="" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
                <div class="col-md-2 col-6">
                    <a class="call" href="8225884946">
                        <i class="fa-solid fa-phone"></i>
                        +91-1234567890
                    </a>
                </div>
            </div>


        </footer>
    </div>
</div>