<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3 offset-1 ">
            <div>
                <a routerLink="/login">
                    <div class="card cardBack">
                        <div class="card-body noUnderline">
                            Plan a Trip
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 offset-1">
            <div>
                <a routerLink="/login">
                    <div class="card cardBack">
                        <div class="card-body noUnderline">
                            Trips History
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 offset-1">
            <div>
                <a routerLink="/login">
                    <div class="card cardBack">
                        <div class="card-body noUnderline">
                            Servicing Reminders
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 offset-1">
            <div>
                <a routerLink="/login">
                    <div class="card cardBack">
                        <div class="card-body noUnderline">
                            Upgrade Car Accessories </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 offset-1">
            <div>
                <a routerLink="/login">
                    <div class="card cardBack">
                        <div class="card-body noUnderline">
                            EV charging Stations
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 offset-1">
            <div>
                <a routerLink="/login">
                    <div class="card cardBack">
                        <div class="card-body noUnderline">
                            Car Usage Statistics </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>