<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3 offset-1 ">
            <div>
                <a routerLink="/login">
                    <div class="card cardBack">
                        <div class="card-body noUnderline">
                            <div class="row">
                                <div class="col-md-8">
                                    Plan a Trip
                                </div>
                                <div class="col-md-4">
                                    <i class="fa-solid fa-car fa-lg"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 offset-1">
            <div>
                <a routerLink="/login">
                    <div class="card cardBack">
                        <div class="card-body noUnderline">
                            <div class="row">
                                <div class="col-md-8">
                                    Trips History
                                </div>
                                <div class="col-md-4">
                                    <i class="fa-sharp fa-solid fa-clock-rotate-left fa-lg"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 offset-1">
            <div>
                <a routerLink="/login">
                    <div class="card cardBack">
                        <div class="card-body noUnderline">
                            <div class="row">
                                <div class="col-md-8">
                                    Servicing Reminders
                                </div>
                                <div class="col-md-4">
                                    <i class="fa-solid fa-bell fa-lg"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 offset-1">
            <div>
                <a routerLink="/login">
                    <div class="card cardBack">
                        <div class="card-body noUnderline">
                            <div class="row">
                                <div class="col-md-8">
                                    Upgrade Car Accessories
                                </div>
                                <div class="col-md-4">
                                    <i class="fa-solid fa-cart-plus fa-lg"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 offset-1">
            <div>
                <a routerLink="/login">
                    <div class="card cardBack">
                        <div class="card-body noUnderline">
                            <div class="row">
                                <div class="col-md-8">
                                    EV charging Stations
                                </div>
                                <div class="col-md-4">
                                    <i class="fa-solid fa-charging-station fa-lg"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 offset-1">
            <div>
                <a routerLink="/login">
                    <div class="card cardBack">
                        <div class="card-body noUnderline">
                            <div class="row">
                                <div class="col-md-8">
                                    Car Usage Statistics
                                </div>
                                <div class="col-md-4">
                                    <i class="fa-sharp fa-solid fa-chart-simple fa-lg"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>